[Unit]
Description=OSPF Watcher topologies installed from Topolograph
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/topolograph/ospfwatcher/onboarding/start.sh

[Install]
WantedBy=multi-user.target
